<!DOCTYPE html>
<html>

<head>
    <title>Mini Social Media App</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>

        <h1>Social Media Platform</h1>

        <div>
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/create_post">Create Post</a>
            <a href="/followers">Followers</a>
        </div>

    </nav>

    <div class="container">

        {% for post in posts %}

        <div class="post">

            <h3>Post {{ post.id }}</h3>

            <p>{{ post.content }}</p>

            <p>Likes: {{ post.likes }}</p>

            <a class="btn"
               href="/like/{{ post.id }}">
               Like
            </a>

            <h4>Comments</h4>

            {% for comment in post.comments %}

                <p>• {{ comment }}</p>

            {% endfor %}

            <form action="/comment/{{ post.id }}"
                  method="POST">

                <input type="text"
                       name="comment"
                       placeholder="Write comment">

                <button type="submit">
                    Comment
                </button>

            </form>

        </div>

        {% endfor %}

    </div>

</body>
</html>