<!DOCTYPE html>
<html>

<head>
    <title>Project Management Tool</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

    <h1>Project Management Tool</h1>

    <div>
        <a href="/">Home</a>
        <a href="/create_project">Create Project</a>
        <a href="/login">Login</a>
    </div>

</nav>

<div class="container">

    {% for project in projects %}

    <div class="project-card">

        <h2>{{ project.name }}</h2>

        <a class="btn"
           href="/project/{{ project.id }}">
           Open Project
        </a>

    </div>

    {% endfor %}

</div>

</body>
</html>